<!-- 

  
               
     
 
<div class="row row-photo">
	<div class="col-xl-4 col-5">
		<div  [@photosAnimation]="photos.length">
			<div *ngFor="let photo of photos" id="cf2">
				<img  [src]="photo.img" class="img-fluid" style="border-radius: 50%;">
			</div>
		</div>	
	</div>
	<div class="col-xl-6 col-7 pt-4">
		<div [@textAnimation]="move">
			<h1 class="text-center pt-md-5 mt-md-3" id="hello">  &lt; Hello! &gt;</h1>
		</div>
		<div [@textAnimation1] style="color: #919a9e">
			<h1 class="text-center" id="name"> I'm Gulnar</h1>
			<h2 class="text-center" id="profession"> Front-end web developer </h2>
		</div>
          <div class="text-center" id="social-icons">
               <a href="mailto:gulnar_mammadova@yahoo.com" class="btn social-icon"> 
                    <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
               </a> 
               <a href="https://www.facebook.com/gulnarmem" target="_blank" class="btn social-icon">
                    <fa-icon [icon]="faFacebookF"></fa-icon>
               </a>
               <a href="https://twitter.com/" target="_blank" class="btn social-icon" role="button"> 
                    <fa-icon [icon]="faTwitter"></fa-icon>
               </a>
               <a href="https://github.com/Gulnar87" target="_blank" class="btn social-icon"> 
                    <fa-icon [icon]="faGithub"></fa-icon>
               </a>
               <a href="" target="_blank" class="btn social-icon"> 
                    <fa-icon [icon]="faInstagram"></fa-icon>
               </a>
               <a href="https://www.linkedin.com/in/gulnar-mammadova-6988703a/" target="_blank" class="btn social-icon"> 
                    <fa-icon [icon]="faLinkedinIn"></fa-icon>
               </a>
               <a href="https://www.youtube.com/channel/UC8tRyMI1ds21yeIY9yEN8Ag?view_as=subscriber" target="_blank" class="btn social-icon"> 
                    <fa-icon [icon]="faYoutube"></fa-icon>
               </a>
          </div>
		
		</div> 
     </div>	 
</div>

<hr>
 -->





<!-- Jumbotron -->

<!-- <div class="row">
     <div class="col-12">  
      <h1 class="text-center pb-5 pt-5"> OVERVIEW OF MY PROJECTS </h1>


    </div>
  <div class="col-8 offset-2">


<app-project-item-short *ngFor="let project of projects; let i = index;" [project]="project" [index]="i">
  
</app-project-item-short>


    
  </div>
</div>
 -->
<!-- Jumbotron -->





<!-- 
<div class="row">
     <div class="col-12 px-5 mb-5 mt-5">

          <app-message class=""> </app-message>

        
     </div>
</div> -->








 

