#about {
		font-family: 'Aladin', cursive;
	/*	color: red;*/
}


/*
.col-rocket {
  position: relative;
}

.img-rocket {
  position: absolute;
  top: 30%;
  right: 0%
}*/

.jumbotron-fluid {
	background-color: white;
}