

<!-- <div class="row mr-5 ml-5"> 
  <div class="col-12">
    <h1 id="about"> ABOUT  </h1>
  </div>
</div> -->




  

<!-- <div class="jumbotron jumbotron-fluid pt-5">
	<div class="container"> -->
		<div class="row mr-5 ml-5">
			<app-short-bio class="col-12"></app-short-bio>
		</div>
<!-- 	</div>
</div> -->

<!-- <hr> -->
<!-- <div class="jumbotron jumbotron-fluid pt-5">
    <div class="container" > -->
  <!--     <div class="row " >
      	<app-skills class="col-12"> </app-skills>
      </div> -->
  <!--   </div>
</div> -->
<!-- <hr> -->

<!-- <div class="jumbotron jumbotron-fluid pt-5">
    <div class="container" > -->
    	<div class="row pt-5 mr-5 ml-5" >
    		<app-certificates class=" col-12"> </app-certificates>
    	</div>
<!--     </div>
</div> -->




