h2 {

	font-family: 'Quicksand',  sans-serif;
			padding-bottom: 15px;
			padding-top: 50px;
			font-size: 42px;
			color: #4772B7;
}

.description, #skills {
  font-family: 'Quicksand', sans-serif;
  font-size: 21px;
}


.bioRow {
	width: 80%;
	margin: 0 auto;
}

.list-inline-item {
	background-color: #4772B7;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 10px;
	color: white;
}

/********** Extra Large devices only **********/
@media (min-width: 1200px) {


}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

.bioRow {
	width: 75%;

}

}
     
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {


.bioRow {
	width: 80%;

}



}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

.bioRow {
width: 85%;

}

h2 {

  font-size: 35px;
		
}


}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {


.bioRow {
 width: 85%;

}

h2 {

  font-size: 30px;
   padding-bottom: 10px;
		
}

.description, #skills {

  font-size: 18px;
}


}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {

.bioRow {
width: 85%;

}

h2 {

  font-size: 30px;
  padding-bottom: 10px;
		
}



.description, #skills {

  font-size: 18px;
}


}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

.bioRow {
	width: 90%;


}

h2 {

  font-size: 30px;
   padding-bottom: 10px;
		
}

.description, #skills {

  font-size: 18px;
}


}


