h3 {
	/*font-family: 'Aladin', cursive;*/
			font-family: 'Quicksand',  sans-serif;
			padding-bottom: 30px;
}

.description, #skills {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}


.bioRow {
	width: 75%;
	margin: 0 auto;
}

/********** Extra Large devices only **********/
@media (min-width: 1200px) {


}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {



}
     
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {






}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

.bioRow {
width: 85%;

}


}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {


.bioRow {
width: 85%;

}


}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {

.bioRow {
width: 90%;

}



}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

.bioRow {
	width: 90%;


}


}


