h2 {

	font-family: 'Quicksand',  sans-serif;
			padding-bottom: 25px;
			padding-top: 50px;
			font-size: 42px;
			color: #4772B7;
}

.certificates-row {
	margin: 0 auto;
	width: 70%;
	margin-bottom: 50px;

}


/********** Extra Large devices only **********/
@media (min-width: 1200px) {


}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

.certificates-row {
	width: 75%;

}

}
     
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
	.certificates-row {
	width: 80%;

}


}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

	.certificates-row {

	width: 85%;
}

h2 {

  font-size: 35px;
		
}


}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {

	.certificates-row {

	width: 85%;
}

h2 {

  font-size: 30px;
		
}


}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {
	
 .certificates-row {

	width: 85%;
}

h2 {

  font-size: 30px;
		
}


}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

	.certificates-row {

	width: 90%;
}
h2 {

  font-size: 30px;
		
}


}



















