.certificates-row {
	margin: 0 auto;
	width: 60%;
	margin-bottom: 50px;

}


/********** Extra Large devices only **********/
@media (min-width: 1200px) {


}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {



}
     
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {


}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

	.certificates-row {

	width: 80%;
}


}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {

	.certificates-row {

	width: 80%;
}



}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {
	
 .certificates-row {

	width: 80%;
}



}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

	.certificates-row {

	width: 80%;
}


}



















