
	<div class="row section-title pt-5">
		<div class="col-12">
			<div class="row ">
				<div class="col-6"> 
					<div style="font-size: 30px; color: #1c95ce" class=""> Certificates </div>
				</div>
				<div class="col-6 see-all ">   
					<a routerLink="/certificates" class="float-right" style="color: #1c95ce"> See All </a>
				</div>
			</div>
		</div>
	</div>

<div class="swiperRow ">


<div  class="swiper-container pt-5 " [swiper]="config"> 




	<div class="swiper-wrapper pb-5">
        <app-certificate-item class="swiper-slide" *ngFor="let certificate of certificates;" [certificate]="certificate"> 
           </app-certificate-item>     
    </div>
    <div class="swiper-pagination"></div> 
</div>
<div class="swiper-button-prev swiper-button-blue" [hidden]="config.navigation === false"></div>
<div class="swiper-button-next swiper-button-blue" [hidden]="config.navigation === false"></div>  

</div>

