
<footer class="panel-footer"> <!-- Footer  Starts here -->
  <hr style="margin: 0; padding: 0;">
  <div class="container-fluid" > 
    <div class="row" id="logo-col">
      <div class="col-12 text-center">
        <a routerLink="/" class="logo"> 
    <!--       <img src="assets/books-stack1.png" width="30" height="30" alt="logo"> -->
       <!--      <span>book<span>S</span>tore</span>  -->
        </a>
      </div>
<!--         <hr style="width: 100%;">   -->
    </div>     
    <div class="row second-footer-row pt-5 pb-5" style="background-color: #e1e9f4"> 
  

          <div class="col-md-12 col-12 footer-col"> 
        <div class="flex-row"> 
          <ul class="col-md footer-col d-flex flex-md-row justify-content-center menu font-weight-bold">
            <li class="list-inline-item"><a [routerLink]="['/', 'about']"> About</a></li>
            <li class="list-inline-item " > <a [routerLink]="['/', 'work']"> Projects </a></li>

            <li class="list-inline-item " > <a [routerLink]="['/', 'certificates']"> Certificates </a></li>
          </ul>
        </div>
      </div>
   
      <div class=" col-12 text-center footer-col"> 
        <div class="text-center social-icons"> 
         <a href="mailto:gulnar_mammadova@yahoo.com" class="btn social-icon"> 
            <fa-icon [icon]="faEnvelopeOpen" ></fa-icon>
             </a> 
        <!--   <a href="https://www.facebook.com/gulnarmem" target="_blank" class="btn social-icon"> 
            <fa-icon [icon]="faFacebookF"></fa-icon>
          </a> -->
    
          <a href="https://github.com/Gulnar87" target="_blank" class="btn social-icon "> 
             <fa-icon [icon]="faGithub"></fa-icon>
          </a>
      <!--     <a href="" target="_blank" class="btn social-icon"> 
             <fa-icon [icon]="faInstagram"></fa-icon>
           </a> -->
          <a href="https://www.linkedin.com/in/gulnar-mammadova-6988703a/" target="_blank" class="btn social-icon"> 
              <fa-icon [icon]="faLinkedinIn"></fa-icon>
          </a>
            <a href="https://www.youtube.com/channel/UC8tRyMI1ds21yeIY9yEN8Ag?view_as=subscriber" target="_blank" class="btn social-icon"> 
              <fa-icon [icon]="faYoutube"></fa-icon>
          </a>
        </div>
        <hr  width="40%">

      </div>
           <div class="col-12 text-center" >  
        <div id="copyright">  &copy; 2019 Gulnar Mammadova, The Hague
        </div> 
      </div>
    
   </div>


 
  </div>
</footer>