.row{
	  font-family: 'Quicksand', sans-serif;
}

.menu a:hover {
  text-decoration: none;
  color: #c40909;
  cursor: pointer;
}

.social-icon {
  box-shadow: none;

}



.social-icons a:hover {
   color: #c40909;
   box-shadow: none;

}

/* .btn:active, .btn:focus, .btn:visited {
     outline: 0;
  border: none;
  -moz-outline-style: none;
    text-decoration: none;
 
}
*/
/*.btn-circle.btn-xl:nth-of-type(2):hover {
    
       color:#2d4373;
}




.btn-circle.btn-xl:nth-of-type(3):hover {

   color: #2795e9 ;
}



.btn-circle.btn-xl:nth-of-type(4):hover {

  color: #2b2b2b;

}



.btn-circle.btn-xl:nth-of-type(5):hover {

   color:#305777;
}


.btn-circle.btn-xl:nth-of-type(6):hover {
 
      color:#005983;
}

.btn-circle.btn-xl:nth-of-type(7):hover {
 
      color: #ff0000;
}*/
