.row-photo {
  position:relative;
  min-height: 500px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 50px;

}


.profile-pic img{
  position:absolute;
  left: 0;
  right:0px;
  bottom: 15px;
  margin: auto;
  min-height: 500px;
  max-height: 500px;
}


#hello, #name, #profession {
	font-family: 'Aladin', cursive;
}

#hello {
	color: #4b7dbf; 
	font-size: 160px
}

#name{
	font-size: 50px;
}

#profession {
	font-size: 40px;

}

 #bio {

  font-family: 'Quicksand',  sans-serif;
  font-size: 20px;

}

.projects-row {
  width: 80%;
  margin: 0 auto;
}


.message-row {
  margin-top: 20px;
/*  margin-bottom: 40px;*/

}

.overview {
  color: #1c95ce;
  font-family: 'Quicksand',  sans-serif;
  font-style: 700;
  font-size: 42px;
  padding-bottom: 25px;
  padding-top: 25px;
}

 .short-text { display: none; } 
 .full-text { display: inline-block; }

/********** Extra Large devices only **********/
@media (min-width: 1200px) {
 
}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {



#hello {
	font-size: 130px
}

#name{
	font-size: 45px;
}

#profession {
	font-size: 35px;

}


.projects-row {
  width: 75%;
}


}
     
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {

.row-photo {
  min-height: 400px;
  max-height: 400px;

}


#profile-pic img{

 min-height: 400px;
 max-height: 400px;
 left: 40px;
}


#hello {
	font-size: 90px
}

#name{
	font-size: 35px;
}

#profession {
	font-size: 25px;

}

 #bio {

  font-size: 16px;


}


.projects-row {
  width: 80%;
}

}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {


.row-photo {
  min-height: 340px;
  max-height: 340px;
}

.profile-pic img{

  min-height: 340px;
  max-height: 340px;
  left: 20px;

}

#hello {
	font-size: 60px
}

#name{
	font-size: 30px;
}

#profession {
	font-size: 20px;

}

 #bio {

  font-size: 15px;

}

.overview {

    font-size: 35px;
}

.projects-row {
  width: 85%;
}

}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {

.row-photo {
  min-height: 250px;
  max-height: 250px;
  
}


.profile-pic img{
 min-height: 250px;
 max-height: 250px;
 left: 15px;
}

#hello {
	font-size: 40px; 
}

#name{
	font-size: 25px;
}

#profession {
	font-size: 20px;

}

 #bio {

  font-size: 12px;

}

.overview {

    font-size: 30px;
}

.projects-row {
  width: 85%;
} 

}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {

.row-photo {
  min-height: 200px;
  max-height: 200px; 
}


.profile-pic img{

 min-height: 200px;
 max-height: 200px;
 left: 15px;
}

#hello {
	font-size: 20px; 
}

#name{
	font-size: 14px;
}

#profession {
	font-size: 14px;

}


 #bio {

  font-size: 10px;

}

.overview {
    font-size: 30px;
}

.projects-row {
  width: 85%;
} 


}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

.row-photo {
  min-height: 180px;
  max-height: 180px;  
}

.profile-pic img{

 min-height: 180px;
 max-height: 180px;
 left: 20px;
}


#hello {
	font-size: 20px; 
}

#name{
	font-size: 14px;
}

#profession {
	font-size: 14px;

}


 #bio {

  font-size: 10px;

}

.overview {
  font-size: 30px;
}

 .short-text { display: inline-block; }
 .full-text { display: none; }


 .projects-row {
  width: 90%;
} 

}






