.row-photo {
    position:relative;
    min-height: 500px;
    margin: 0 auto;

}



#profile-pic img{

 position:absolute;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    min-height: 500px;

 

}

 #bio {
  width: 80%;
  margin: 0 auto;

}

#hello, #name, #profession{
	font-family: 'Aladin', cursive;
}


.overview {
    color: #1c95ce;
	font-family: 'Quicksand',  sans-serif;
	font-style: 700;
}


#hello {
	color: #1c95ce; 
	font-size: 160px
}

#name{
	font-size: 50px;
}

#profession {
	font-size: 40px;

}

.social-icon{

  box-shadow: none;
}

#social-icons a:hover {
   color: #c40909;
   box-shadow: none;
}


/********** Extra Large devices only **********/
@media (min-width: 1200px) {
 
}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

#hello {

	font-size: 130px
}

#name{
	font-size: 45px;
}

#profession {
	font-size: 35px;

}



}
     
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {


#hello {
	font-size: 110px
}

#name{
	font-size: 35px;
}

#profession {
	font-size: 25px;

}


.row-photo {

  min-height: 400px;
    max-height: 400px;

  
}


#profile-pic img{

 min-height: 400px;
   max-height: 400px;
    left: 50px;
}


}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

#hello {
	font-size: 60px
}

#name{
	font-size: 30px;
}

#profession {
	font-size: 20px;

}


.row-photo {
  min-height: 300px;
  max-height: 300px;

  
}

 #bio {
  width: 90%;
  font-size: 15px;

}

#profile-pic img{

 min-height: 300px;
   max-height: 300px;
    left: 40px;
}




}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {


#hello {
	font-size: 45px; 
}

#name{
	font-size: 25px;
}

#profession {
	font-size: 20px;

}

.row-photo {

  min-height: 250px;
    max-height: 250px;

  
}


#profile-pic img{

 min-height: 250px;
   max-height: 250px;
    left: 40px;
}

 #bio {
  width: 90%;
  font-size: 12px;

}


}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {

#hello {
	font-size: 30px; 
}

#name{
	font-size: 20px;
}

#profession {
	font-size: 20px;

}


.social-icon{
	padding-left: 2px;
}


.overview {
    font-size: 25px;
}

.row-photo {

  min-height: 200px;
    max-height: 200px;

  
}


#profile-pic img{

 min-height: 200px;
   max-height: 200px;
    left: 40px;
}

 #bio {
  width: 90%;
  font-size: 10px;

}


}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

#hello {
	font-size: 25px; 
}

#name{
	font-size: 18px;
}

#profession {
	font-size: 16px;

}

.row-photo {

  min-height: 150px;
    max-height: 150px;

  
}


#profile-pic img{

 min-height: 150px;
   max-height: 150px;
    left: 30px;
}

.social-icon{
	margin-left: 0;
	padding-left: 2px;
}


.overview {
    font-size: 20px;
}

 #bio {
  width: 90%;
  font-size: 10px;

}

}
