<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top  " data-toggle="affix" id="header-nav">
    <button (click)="isCollapsed = !isCollapsed"  
         [attr.aria-expanded]="!isCollapsed" class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#collapsable-nav" aria-controls="collapsable-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="collapsable-nav" [ngbCollapse]="!isCollapsed" >
<a class="navbar-brand mr-auto ml-5"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  routerLink="/" >
      <img src="assets/logoGM4.png" width="55" height="55" alt="logo">
  
    </a>

         <ul class="navbar-nav">
            <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link about"  [routerLink]="['/', 'work']" > Work   </a>
        </li> 
        <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link about"  [routerLink]="['/', 'about']" > About </a>
        </li>
    
     <!--    <li class="nav-item" routerLinkActive="active">
          <a class="nav-link about"  routerLink="/contact" > Contact </a>
        </li>  -->
    
      
      </ul>

        <div class="text-center mr-5" id="social-icons">
      <a href="mailto:gulnar_mammadova@yahoo.com" class="btn social-icon"> 
        <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
      </a> 
      <a href="https://www.facebook.com/gulnarmem" target="_blank" class="btn social-icon">
          <fa-icon [icon]="faFacebookF"></fa-icon>
      </a>  
      <a href="https://github.com/Gulnar87" target="_blank" class="btn social-icon"> 
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/gulnar-mammadova-6988703a/" target="_blank" class="btn social-icon"> 
        <fa-icon [icon]="faLinkedinIn"></fa-icon>
       </a>
    </div>


    </div>

 
</nav>
</header>





