.navbar-nav .nav-link {
	color: #434343 !important;
	font-family: 'Quicksand', sans-serif, !important;
	font-size: 20px;
 /*padding-right: 15px;*/
}


.navbar-nav {
  /*margin-left: 80px;*/
}

.navbar {
	/*  box-shadow: none;*/
	  background-color: #f7f8f9;
}

#header {
	margin-bottom: 160px;
}

.nav-item a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #1c95ce !important;
  cursor: pointer;
}



#header-nav .active>.nav-link {
   font-weight: bold;
   
}


.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background-color: transparent;
}

.social-icon{

  box-shadow: none;
  color: #434343;
}

#social-icons a:hover {
   color: #1c95ce;
   box-shadow: none;
}

/********** Extra Large devices only **********/
@media (min-width: 1200px) {


}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {



}
     
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {

#header {
	margin-bottom: 100px;
}




}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

#header {
	margin-bottom: 100px;
}


}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {

#header {
	margin-bottom: 100px;
}




}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {

#header {
	margin-bottom: 100px;
}



}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

#header {
	margin-bottom: 100px;
}


}
