p {

	font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #1c95ce;

}


/********** Extra Large devices only **********/
@media (min-width: 1200px) {


}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {



}
     
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {

p {

    font-size: 30px;
}




}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

p {

    font-size: 25px;
}


}


/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {

p {

    font-size: 22px;
}


}


/********** Super extra small devices Only :-)  **********/
@media (min-width: 380px) and (max-width: 479px) {

p {

    font-size: 20px;
}



}

/********** iphone 5  **********/
@media (min-width: 320px) and (max-width: 379px) {

p {

    font-size: 18px;
}


}





