<div class="row">
  <div class="col-12 columns text-center">
    <img [src]="project.picTop" alt="" class="img-fluid">
  </div>
</div>
<div class="row text-row ">
  <div class="col-12 pb-3">
    <h2 class="text-center projectName "> {{ project.name}}</h2>
    <h5 class="text-center subtitle"> {{ project.subTitle }}</h5>
  </div>
</div>
<div class="row text-row ">
  <div class="col-12 columns">
    <p class="description "> {{ project.description }} </p>
    <p class="description "> Technology used: {{ project.techUsed }} </p>
  </div>
  <div class="col-12 text-center columns" *ngFor="let picture of project.pictures" >
    <img [src]="picture.pic" alt="Gulnar Mammadova portfolio" class="img-fluid ">
  </div>
  <div class="col-12 text-center columns" >
    <a mdbBtn type="button"  [href]="project.linkToPage" target="_blank" class="button"> 
      <i class="fas fa-external-link-alt"></i> View online </a>
  </div>
</div>


<!-- <ngx-json-ld [json]="schema">  </ngx-json-ld> -->



